 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }

 input {
    display: block;
    margin-bottom: .5rem;
    width: 70%;
 }

 main { 
    width: 100%;
    height: 100vh;
    display: flex; 
    justify-content: center;
    align-items: center;  
 }

 .book-item {   
    padding: .5rem 1.5rem; 
 }

 .books {
    background-color: #eee;
    width: 700px;
    height: 350px;
    overflow-y: scroll; 
    -ms-overflow-style: none;  
    scrollbar-width: none; 
    border: 1px solid #333; 
 }
 
 .books::-webkit-scrollbar {
    display: none;
  }
  

 .add-div {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .add-div input {
   width: 50%;
   padding: .4rem .5rem;
   border-radius: .5rem;
 }

 .add-div button {
   width: 10%; 
   padding: .4rem .5rem;
   border-radius: .5rem; 
   background-color: #999;
   color: #fff;
 }

 .remove {
   float: right;  
   margin-top: -1.8rem
 }

 .delete {
    display: none;
 }

 .remove {
   background-color: rgb(1, 1, 32);
   color: #fff;
   padding: .2rem .1rem; 
 }

 .page-title {
   text-align: center; 
 }

 .book-item:nth-child(odd) {
   background-color: #fff;
   padding: .5rem 1.5rem;
 }