* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

input {
    display: block;
    margin-bottom: 0.5rem;
    width: 70%;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-item {
    padding: 0.5rem 1.5rem;
}

.books {
    background-color: #eeeeee;
    width: 700px;
    height: 320px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    border: 3px solid #333333;
}

.books::-webkit-scrollbar {
    display: none;
}

.add-div {
    margin-top: 1.5rem;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-div input {
    width: 50%;
    padding: 0.4rem 0.5rem;
    border: 3px solid black;
    margin: 8px;
}

.add-div button {
    width: 10%;
    padding: 0.4rem 0.5rem;
    background-color: #ffffff;
    color: black;
    border: 3px solid black;
    box-shadow: rgba(0, 0, 0, 0.897) 2px 2px;
    margin: 8px;
}

.delete {
    display: none;
}

.remove {
    background-color: #ffffff;
    color: black;
    padding: 0.2rem 0.1rem;
    border: 3px solid black;
    float: right;
    margin-top: -1.8rem;
    box-shadow: rgba(0, 0, 0, 0.897) 2px 2px;
}

.page-title {
    text-align: center;
    margin-bottom: 15px;
}

.book-item:nth-child(even) {
    background-color: #ffffff;
    padding: 0.5rem 1.5rem;
}

.line {
    border: 2px solid black;
    width: 250px;
    height: 1px;
    border-radius: 3px;
    color: black;
    background-color: black;
    margin-bottom: 20px;
}
