* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input {
  display: block;
  margin-bottom: 0.5rem;
  width: 70%;
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-item {
  padding: 0.5rem 1.5rem;
}

.books {
  background-color: #eee;
  width: 700px;
  height: 320px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: 3px solid #333;
}

.books::-webkit-scrollbar {
  display: none;
}

.add-div {
  margin-top: 1.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-div input {
  width: 50%;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
}

.add-div button {
  width: 10%;
  padding: 0.4rem 0.5rem;
  border-radius: 0.5rem;
  background-color: #999;
  color: #fff;
}

.remove {
  float: right;
  margin-top: -1.8rem;
  background-color: rgb(1, 1, 32);
  color: #fff;
  padding: 0.2rem 0.1rem;
}

.delete {
  display: none;
}

.page-title {
  text-align: center;
}

.book-item:nth-child(odd) {
  background-color: #fff;
  padding: 0.5rem 1.5rem;
}

nav {
  position: sticky;
  top: 20px;
  border: 2px solid black;
  padding: 0.4rem;
  margin-bottom: 10%;
  margin-top: 10%;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  margin: auto;
}

nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  margin-top: 10%;
  border: 2px solid black;
  padding: 1%;
  width: 100%;
  margin-bottom: 10%;
  position: sticky;
  bottom: 20px;
}

.link {
  padding-left: 15%;
}

#border {
  margin-left: 10px;
  border-left: 1px solid black;
}

.addBook {
  width: 700px;
  height: 320px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 320px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.contact h1 {
  padding: 3%;
}

.contact p {
  padding: 2%;
}

.disable {
  display: none;
}
